<button class="service-btn__btn service-btn__btn--{{firstColor}} {{firstServiceClass}}">
    {{firstData}}
</button>

{{#if secondBtn}}
<button class="service-btn__btn service-btn__btn--{{secondColor}} {{secondServiceClass}}">
    {{secondData}}
</button>
{{/if}}