<table class="reports-table">
    <tr>
        <th>Date</th>
        <th>Urgent</th>
        <th>High</th>
        <th>Medium</th>
        <th>Low</th>
        <th>Failed</th>
    </tr>
    <tr>
        <td>{{date}}</td>
        <td>{{urgent}}</td>
        <td>{{high}}</td>
        <td>{{middle}}</td>
        <td>{{low}}</td>
        <td>{{failed}}</td>
    </tr>
</table>